body {
  margin: 0;
}

.page-layout {
  display: flex;
}

.right-panel {
  width: 100%;
}

.form-field-group {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.text-input {
  height: 35px;
  width: 300px;
  margin: 5px 0;
}

button {
  width: 180px;
  height: 40px;
  margin: 5px;
  color: white;
  background-color: blue;
  border-radius: 5px;
  border-style: hidden;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 17px;
}

button:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}