body {
  margin: 0;
}

h2 {
  font-size: 30px;
  font-weight: 800;
  margin: 0;
}

h4 {
  font-size: 20px;
  font-weight: 200;
  margin: 0;
}

.page-layout {
  display: flex;
}

.right-panel {
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  background-color: rgb(36, 47, 63);
  color: rgb(207, 218, 248);
}

.form-field-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 15px;
}

.text-input {
  height: 35px;
  width: 300px;
  margin: 5px 0;
}

.construction {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  padding: 15px;
}

.label {
  font-size: 20px;
}

form * {
  margin: 5px;
}

.fetch-fail {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.extended-field {
  width: 90%;
}

.footer-links {
  display: flex;
}

.landing-btn {
  padding: 10px 10px 2px 10px;
  border-radius: 3px;
  text-decoration: none;
  border-width: 0 0 3px 0;
  border-style: solid;
  border-color: orange;
  font-size: 20px;
  color: rgb(207, 218, 248);
}

.landing-btn:hover {
  color: orange;
}

.back-btn {
  margin: 5px;
  padding: 4px 6px;
  font-weight: 600;
  background-color: orangered;
  color: white;
  border-radius: 3px;
  text-decoration: none;
}

.edit-btn {
  margin: 5px;
  padding: 4px 6px;
  font-weight: 600;
  background-color: slateblue;
  color: white;
  border-radius: 3px;
  text-decoration: none;
}

.delete-btn {
  width: 80px;
  height: 26px;
  margin: 5px;
  font-weight: 400;
  font-size: 14px;
  color: red;
  background-color: white;
  border-color: red;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  text-decoration: none;
}

/* button {
  width: 180px;
  height: 40px;
  margin: 5px;
  color: white;
  background-color: rgb(217, 141, 1);
  border-radius: 5px;
  border-style: hidden;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 17px;
} */

button:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.edit-btn:hover {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.back-btn:hover {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
