.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 125px 0 0 0;
}

.landing-description {
  text-align: center;
  margin: 0 0 5px 0;
  font-weight: 100;
}

.landing-moto {
  padding: 15px;
  margin: 0 0 60px 0;
  text-align: center;
  font-size: 22px;
}

.landing-footer {
  padding: 25px 12px;
  margin: 30px 5px;
  font-size: 18px;
  text-align: center;
  border-radius: 4px;
  background-color: rgb(21, 26, 34);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;}

.landing-btns-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.landing-image {
  width: 100vw;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  filter: brightness(75%);
}

.landing-text {
  z-index: 100;
}