.nav-bar {
  position: relative;
  width: 250px;
  padding: 13px;
  background-color: rgb(21, 26, 34);
  font-size: 25px;
  font-weight: 600;
}

.nav-profile {
  display: flex;
}

.nav-name {
  padding: 7px 0 0 10px;
}

.nav-link {
  color: red;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  flex-direction: column;
}

.nav-menu * {
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
  color: rgb(148, 178, 226);

  &:hover {
    color: rgb(97, 144, 221);
    background-color: rgb(42, 51, 67);
  }
}
