.nav-bar {
  position: relative;
  height: 100vh;
  width: 250px;
  padding: 13px;
  color: white;
  background-color: grey;
  font-size: 25px;
  font-weight: 600;
}

.nav-profile {
  display: flex;
}

.nav-name {
  padding: 7px 0 0 10px;
}

.nav-link{
  color: red;
  text-decoration: none;
}