.tour-day {
  margin: 5px;
  padding: 3px;
}

.tour-date {
  padding: 8px 0;
}

.select-tool {
  margin: 15px 0 15px 5px;
}

.select-options {
  color: rgb(189, 216, 255);
  background-color: rgb(63, 82, 111);
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.add-event {
  max-width: 550px;
  padding: 10px;
  background-color: rgb(206, 227, 255);
  border-radius: 3px;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;}

.activity-title {
  margin: 0 0 10px 0;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.activity-container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  gap: 20px;
}

.activity-container-bottom{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  margin: 20px 0 10px 0;
}

.activity-input-a {
  width: 130px;
  background-color: rgb(189, 216, 255);
}

.activity-input-b {
  width: 350px;
  background-color: rgb(189, 216, 255);
}


.time-container {
  display: flex;
}

.time-container * {
  display: flex;
  padding: 3px;
  align-items: center;
}

.time-label {
  width: 35px;
}

.time-input {
  width: 60px;
  padding: 10px;
  margin-right: 3px;
}

.add-btn {
  background-color: green;
  width: 60px;
  font-size: 15px;
  margin-left: 50px;
}

.add-btn2{
  background-color: green;
  width: 100px;
  font-size: 15px;
}

.delete-btn2{
  background-color: red;
  width: 120px;
  font-size: 15px;
}

.add-btn:hover {
  background-color: rgb(0, 82, 0);
}

.time-display {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  text-align: center;
}

.delete-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
}

.activity-name{
  font-size: 20px;
  font-weight: 600;
}

.activity {
  display: flex;
  border-radius: 2px;
  margin: 3px 0;
  padding: 10px;
  background-color: rgb(63, 82, 111);
}