.moderator-container {
}

.moderator-title {
  color: rgb(148, 178, 226);
  font-size: 25px;
  text-align: center;
  border-bottom: 1px solid rgb(148, 178, 226);
  padding: 10px 0 ;
}

.moderator-dash {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(21, 26, 34);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 10px 0;
}

.moderator-dash > * {
  text-decoration: none;
  font-weight: 600;
  padding: 6px;
  border-radius: 4px;
  color: rgb(148, 178, 226);

  &:hover {
    color: rgb(97, 144, 221);
    background-color: rgb(42, 51, 67);
  }
}