.site-header{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.site-img {
  height: 200px;
  width: 200px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  text-align: center;
}